.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*div {border: 1px solid red; box-sizing: border-box;}*/

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.logo{
position: absolute;
left: 64px;
top: 30px;
z-index: 2;
}
.logo_place_header{
  width: 183px;
  height: 32px;
}
.header__title{
  display: flex;
  width: 730px;
  justify-content: center;
  align-items: center;
  margin-left: 64px;
  z-index: 3;
}
.header__title_text{
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.header__subtitle{
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 3;
}
.header__subtitle_text{
  margin: 0;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.header__subtitle_link{
  text-decoration: none;
  color: #2f80ed ;
}
.header__main_ilustration{
  position:absolute;
  right:0;
  bottom: 0;
  z-index: 2;
}
.header__main_illustration_size{
  width: 765px;
  height: 608px;
}
.header__square_pic{
position: absolute;
top: 64px;
right: 0;
width: 568px;
height: 568px;
background-color:#2f80ed;
z-index: 1
}
.description{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;


}
.description__two_columns{
  width: 80%;
  display: flex;
  justify-content: space-between;

}
.description__two_columns_brief{
  width: 175px;
}
.description__two_columns_brief_text{
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color:#2f80ed;

}
.description__main_text_paragraph{
  margin:0px;
  padding:0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size:24px;


}
.description__main_text_paragraph:last-child{
  margin-bottom: 0;
}
.description__main_text{
  width: 80%;
  min-width: 784px;
}
.span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
.digits{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.digits__section_title_text{
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;

  align-items: center;
  display: flex;
  justify-content: center;
}
.digits__section_title{
  width: 60%;
}
.digits__section_subtitle{
  margin-top: 20px;
  width: 60%;
  justify-content: center;
  display: flex;
  }
  .digits__section_subtitle_text{
    margin: 0;
    padding: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }
  .digits__table{
    width: 1100px;
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
  }
.digits__table_cell{
  width: 250px;
  margin-top: 60px;
}
.digits__table_cell_heading_text{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.digits__table_cell_text_text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.digits__table_cell_text{
  margin-top: 20px;
}
.feynman{
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color:#f2f2f2;
  position: relative;
  height: 890px;
}
.feynman__title_text{
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin: 0;
  padding: 0;

}
.feynman__title{
  width: 648px;
  margin-top:100px;
  z-index: 3;
}
.feynman__subtitle{
  margin-top: 70px;
  z-index: 3;
}
.feynman__subtitle_text{
  margin:0;
  padding:0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link_text{
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
}
.feynman__main_ilustration{
  width: 867px;
  height: 637px;
  position: absolute;
  left:0;
  bottom: 0;
  z-index: 2;

}
.kaufman{
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
  background-color: black;
  position: relative;
  overflow: hidden;
}
.kaufman_theme_dark{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.kaufman__section_title_text_theme_dark{
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;

  align-items: center;
  display: flex;
  justify-content: center;
}
.kaufman__section_title_theme_dark{
  width: 60%;
  margin-top: 90px;
}
.kaufman__section_subtitle_theme_dark{
  margin-top: 20px;
  width: 60%;
  justify-content: center;
  display: flex;
  }
  .kaufman__section_subtitle_text_theme_dark{
    margin: 0;
    padding: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }
  .kaufman__table_theme_dark{
    margin-bottom: 90px;
    width: 1100px;
    display: flex;
    z-index: 3;
    justify-content: space-between;
    flex-wrap: wrap;
  }
.kaufman__table_cell_theme_dark{
  width: 200px;
  margin-top: 80px;
  z-index: 3;
}
.kaufman__table_cell_heading_text_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.kaufman__table_cell_text_text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.kaufman__table_cell_text_theme_dark{
  margin-top: 20px;
}
.kaufman__triangle_position{
  height: 877px;
  width: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index:1;

 }
.kaufman__triangle{
  z-index: 1;
}
.footer{
  min-height: 350px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  color: white;
  background-color: black;



}
.footer__columns{
  flex-basis: 711px;
  position: relative;
  flex-direction: row;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

}
.footer__column_content_copyright{

}

}
.logo__footer{
  position: absolute;
  left:0;
  top: 0;
}
.footer__author{
  position: absolute;
  bottom: 18px;

}
.footer__author_text{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.footer__column-heading_text{
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding:0;
  margin-bottom: 20px;
}
.footer__column-links_text{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding:0;
}
.footer__column_content_social_icon_text{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding:0;
}
.footer__column_content_info{
  margin-left: 33% ;
}
.footer__column-links-no-decoration{
text-decoration: none;
color: white;
}
