.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
/* div {border: 1px solid red ; box-sizing: border-box;}*/

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;


  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.logo{
  position: absolute;
  z-index: 1;
}
.logo__place_header{
margin-left: 64px;
margin-top: 30px;
}
.header__title{
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  width: 730px;
  margin-left: 64px;
  display: flex;
  align-items: center;
  height: auto;
  margin-bottom: 200px;
  margin-top: 200px;}

 .header__title_text{
  z-index: 2;
  }
}
.link_blue{
  color: #2f80ed;
  text-decoration: none;
}
.header__subtitle{
line-height: 25px;
font-size: 18px;
font-weight: normal;
width: 388px;
bottom: 30px;
left: 64px;
position: absolute;
}
.main_illustration{
width: 765px;
height: 608px;
position: absolute;
right: 0;
bottom: 0;
z-index: 1;
}
.header__square-pic{
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0px;
}
.description{

  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;


}
.two-columns{
display: flex;
width: 80%;
justify-content: space-between;

  }
  .two-columns__brief{
    line-height: 1.2;
    font-size: 18px;
    color:#2f80ed;
  font-weight: normal;
  width: 175px;
  margin-top:0;

  }
.two-columns__main-text{
line-height: 34px;
font-size: 24px;
margin-top: 0;
margin: 0;
padding: 0;
}
.two-columns__paragraph{
  line-height: 34px;
font-size: 24px;}
.two-columns__paragraph{
  line-height: 34px;
font-size: 24px;}

.two-columns-first {
  display: flex;
  width: 175px;
  }

.two-columns-second {
  min-width: 784px;
  width: 80%;
}
.span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}


.digits{
  margin-top: 100px;
}
.digits_content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.digits_content_table{
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top:60px;

}

.digits_content_table_table_cell{
  width: 250px ;
  margin-bottom: 60px;
}
.digits_content_table_table_cell_no_margin_bottom{
  margin-bottom: 0;
    width: 250px
}
.digits_content_titles_title_text{
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  padding:0;
}
.digits_content_titles_subtitle{
  margin-top: 20px;
}
.digits_content_titles_subtitle_text{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  align: center;
  margin:0;
  padding: 0;
}
.digits_content_table_table_cell_heading_text{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.digits_content_table_table_cell_heading{
  margin-bottom: 20px;
}
.digits_content_table_table_cell_text_text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
margin-top: 0;


}
.feynman{
  height: 890px;
  background-color:#f2f2f2;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  }
.feyman_title_text{
  line-height: 1.15;
  font-size: 120px;
  width: 648px;
  font-weight: bold;
  z-index: 2;
  position: static;
  margin:0;
  padding: 0;
  margin-top: 100px;

  }
  .feyman_subtitle_text{
    line-height: 51px;
    font-size: 36px;
    z-index: 2;
    position: static;
    font-style: normal;
    margin: 0;
    padding: 0;
    padding-top: 70px;


  }
  .feyman_image{
    width: 867px;
    height: 637px;
    position: absolute;
    bottom: 0;
    left: 0;

  }
  .feyman_link_text{
    color: #2f80ed;
    line-height: 51px;
    font-size: 36px;
    text-decoration: none;
  }
.feyman_link{
  position: absolute;
  right: 48px;
  top: 50%;
}
.feyman_title{
  z-index: 1;
}
.feyman_subtitle{
  z-index: 1;
}
.kaufman{
background-color: black;
position: relative;

}
.digits_content_theme_dark{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 90px;
}
.digits_content_titles_title_theme_dark{
  color: white;
  z-index: 1;


}
.digits_content_titles_subtitle_theme_dark{
  color: white;
  z-index: 1;
  margin-top: 20px;
}
.digits_content_table_table_cell_theme_dark{
  color: white;
  width: 200px;
  margin-top: 80px;
  z-index: 1;
  margin-bottom: 0;
}

.digits_content_table_theme_dark{
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1;
  margin-bottom: 90px;

}
.kaufman_triangle{
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
}
.footer{
  display: flex;

  min-height: 350px;
  background-color: black;
}
.footer_columns{
  color: white;
  display: flex;
  margin: auto;
  margin-top: 60px;
  height: 250px;
  flex-basis: 711px;;

}
.logo__place_footer{
  width: 183px;
  height: 35px;
  color: rgba (0 0 0 .3);
}
.footer_columns_content_copyright{
  position:relative;
}
.footer_author{
  bottom: 18px;
  position:absolute;
}
.footer_author_text{
  margin: 0;
  padding: 0;

}
.footer_columns_content_copyright{
width: 711px;
}
.footer_columns_content_copyright_links{
  width: 711px;
  display: flex;
  position: relative;
}
.footer_column_heading_title{
  margin:0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.footer_column_content_social{
  position: absolute;
  right: 0;


  }
.column_link{
margin-top: 0;
margin: 0;
padding: 0;
line-height: 30px;
font-size: 18px;
text-decoration: none;
color: white;
}
.footer_social_icon{

  text-decoration: none;
  color: white;
  line-height: 30px;
font-size: 18px;
}
.footer_social_icon_text{
  text-decoration: none;
  color: white;
  line-height: 30px;
font-size: 18px;
margin: 0;
padding: 0;
}
.footer_column_content_info{
  margin-left: 245px;
}
.column_link_no_decoration{
  text-decoration: none;
  color: white;
}
